<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    {{- '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>

    {% if site.social.links %}
      <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
    {% else %}
      <em class="fst-normal">{{ site.social.name }}</em>.
    {% endif %}

    {% if site.data.locales[include.lang].copyright.brief %}
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Creative Commons tarptautinė licencija, leidžianti kopijuoti, platinti, keisti, adaptuoti, naudoti komerciniais tikslais, BET SU DVIEM SĄLYGOM: 1) privaloma nurodyti autorių; 2) ką nors pakeitus, platinti galima tik nurodant tą patį CC BY-SA 4.0 pagrindą."
      >
        Turinio naudojimo reikalavimai: CC BY-SA 4.0
      </span>
    {% endif %}
  </p>

  
</footer>
